.container {
	padding: 0;
	max-width: 400px;
	margin-top: 22px;
	overflow: hidden;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 0 4px 16px rgba(0, 0, 0, .1)
}

.container.blue {
	background: rgba(69, 90, 147, 1);
}

.container.blue h1 {
	color: rgba(255, 255, 255, .95);
	margin-bottom: 22px;
}

.container.no-bg {
	background: transparent;
	box-shadow: none;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(0, 0, 0, .8);
	font-family: 'futura';
}

.table {
	margin: 0;
}

tr {
	transition: all .25s ease;
	cursor: pointer;
}

tr:hover {
	background: #eaeaea;
}

tr.selected {
	background: #e0e0e0;
}

input.form-control, select.form-control {
	width: 100%;
}

ul.list-inline {
	margin: 10px auto;
	width: 95%;
}

li {
	width: 50%;
	float: left;
	margin-bottom: 11px;
}

body {
	background: #EEE;
}